@media screen and (max-width: 576px) {
  .top_nav {
    display: none;
  }
  .navbar-brand img {
    width: 50px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
  }
  .close_btn {
    display: unset !important;
  }
  .hero_p {
    width: 100% !important;
  }
  .hero_arrows {
    display: none;
  }
  .flex-nowrap{
    flex-wrap: wrap !important;
  }
  .row{
    gap: 15px;
  }
  .ml6{
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .close_btn {
    display: unset !important;
  }

  .navbar-brand img {
    width: 50px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
  }
  .hero_p {
    width: 70% !important;
  }
    .ml6{
    width: 85%;
  }
}
